*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #EEEE;
    text-shadow: 3px 5px 2px #474747 ;
}
main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
div#top-element{
    display: flex;
    justify-content: space-between;
}
h1.time {
    text-align: center;
    font-size: 5rem;
}
div#crypto-top{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
div#crypto{
    font-size: 1.2rem;
}
div#crypto-top > span {
    margin-left: 10px;
}
div#crypto{
    margin: 0;
}
div#weather{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-start;
}
div#weather > img{
    width: 80px;
}
.weatherCity{
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.2rem;
}
p.weather-temp{
    margin: 0;
    font-size: 1.7rem;
    margin-top: -10px;
}
p#author{
    font-size: 1.2rem;
}
p > a{
    color: #EEEE;
}
div#middle{
    margin-top: -350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qoutes{
    text-shadow: 7px 5px 3px #EEEE ;
    font-size: 1rem;
    background-color: #EEEE;
    color: #474747;
    text-align: center;

}